// this file is for the varriables ..it is a partial file ad we will include this file in other files

//colours

$primary: #078a42;
$primary-hover: #01b295;

$secondary: #f8f8f8;

$pure: #fff;

$dark: #232323;

$gray: #ccc;

//Transition

$smooth: all 0.3s ease-in-out;
